{% extends "base.html" %}

{% block page_content %}


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label for="mangas">Mangas</label>
                        <select class="form-control" id="mangas" name="mangas">
                            <option>Select manga</option>
                        </select>
                    </div>
                </form>   
            </div>                 
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{{ url_for('manga.newChapter') }}" role="button" class="btn btn-success">New Chapter</a>
            </div>
        </div>

        </br>
        </br>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <th>Chapter</th>
                        <th>Title</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody id="chapters"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            getMangas();       

            $("#mangas").on("change", function(){
                getChaptersByManga($(this).val());
            });

            // $("#mangas").on("change",  () => {getChaptersByManga($(this).val())} );            
        })


        function addOptionToSelect(manga){
            const option = `<option value="${manga.id}">${manga.title}</option>`;
            $("#mangas").append(option)
        }

        function getMangas(){
            
            $.getJSON(" {{ url_for('manga.getmangas') }} ", function(data){                
                for (let i = 0; i < data['mangas'].length; i++)           
                    addOptionToSelect(data.mangas[i]);
            })
        }

        function mountTr(chapter)
        {
            let html = `<tr>                            
                            <td>${chapter.number}</td>
                            <td>${chapter.title}</td>                            
                            <td>
                                <button class="btn btn-danger" onClick="deleteChapter(${chapter.id})">Delete</button>
                            </td>
                        </tr>`;            
            return html;
        }

        function mountTable(chapters){
            $("#chapters").html("");
            let html = "";
            if (chapters.length == 0)
                html = "<tr class='text-center'><td colspan=5>No chapters were found</td></tr>"
            else
                for(let i = 0; i < chapters.length; i++)
                    html += mountTr(chapters[i])
            $("#chapters").append(html);
        }

        function getChaptersByManga(manga){
            // $.getJSON("{{ url_for('manga.getChapters') }}", {manga:manga}, function(data){
            //     mountTable(data.chapters);
            // })
            $.getJSON("{{ url_for('manga.getChapters') }}", {manga:manga}, (data) => mountTable(data.chapters) )            
        }

        function deleteChapter(chapterId){
            $.post("{{ url_for('manga.deleteChapter') }}", {id: chapterId}, (data) => getChaptersByManga($("#mangas").val()))                
        }

    </script>
{% endblock %}