{% extends "bootstrap/base.html" %}

{% block title %}
    Nameless Mangas
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="icon" type="imagem/png" href="{{ url_for('static', filename='bleach.jpg') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Nameless Mangas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.index') }}" >Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">            
                    <a class="nav-link" href="{{ url_for('manga.list') }}" role="button">Mangas</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" href="#" role="button">About</a>                    
                </li>             
            </ul>            

            <ul class="navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">                    
                        <a class="nav-link" href="{{ url_for('manga.chapters') }}">
                            Chapters
                        </a>
                    </li>                
                    <li class="nav-item">                    
                        <a class="nav-link" href="{{ url_for("auth.logout") }}">
                            Log out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">                    
                        <a class="nav-link" href="{{ url_for('auth.register') }}" role="button" >Register</a>  
                    </li>
              
                    <li class="nav-item">                    
                        <a class="nav-link" href="{{ url_for("auth.login") }}">
                            Log in
                        </a>
                    </li>
                {% endif %}                    
            </ul>          
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="body" class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}          

        {% block page_content %}
      
        {% endblock %}
    </div>


	<div class="footer" id="page-footer">
        <div class="container text-center text-md-left">
            <div class="row text-center">
                <div class="col-md-4">
                    <p >
                        Location: <br>
                        Street: 77 Massachusetts <br> 
                        Ave Cambridge, MA 02139, EUA	
                    </p>			
                </div>
                <div class="col-md-4">
                    Contact <br>
                    Phone: 9999999999 <br>
                    E-mail: namelessMangas@email.com

                    <div class="footer-copyright text-center py-3">&copy; 2019 Copyright:
                        <a onclick="{{ url_for('main.about') }}"  href="#"> Nameless Mangás</a>
                    </div>
                </div>
                <div class="col-md-4">
                    Social Medias
                    <ul class=" list-unstyled">
                        <li>				
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>				
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>				
                            <a href="#" class="fa fa-instagram"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>

    
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock scripts %}


